---
import { Picture } from "astro:assets";
import heroImage from "assets/hero.png";
import Link from "@components/ui/link.astro";
import { Icon } from "astro-icon/components";
import whatsappImage from "assets/whatsapp.png";
---

<main
  class="grid lg:grid-cols-2 place-items-center pt-16 pb-8 md:pt-12 md:pb-24">
  <div class="py-6 md:order-1 hidden md:block">
    <Picture
      src={heroImage}
      alt="Astronaut in the air"
      widths={[200, 400, 600]}
      sizes="(max-width: 800px) 100vw, 620px"
      loading="eager"
      format="avif"
    />
  </div>
  <div>
    <h1
      class="text-5xl lg:text-6xl xl:text-7xl font-bold lg:tracking-tight xl:tracking-tighter">
      Understand Terms and Conditions in any language
    </h1>
    <p class="text-lg mt-4 text-slate-600 max-w-xl">
      <h2>Simplify Legal Jargon with Ease</h2>

      Tired of wading through lengthy PDFs filled with dense legal terms and
      conditions?<br />
      <br />Let me simplify it for you!<br /><br />

      Just send your PDF via <strong>WhatsApp</strong> or <strong
        >Telegram</strong
      >, and I'll transform it into easy-to-read bullet points.<br />
      <br />No fuss, no confusion—just clear, concise information that gets
      straight to the point.
      <br /><br />

      <p>
        <em
          >Empowering you to understand complex documents, one PDF at a time!</em
        >
      </p>
    </p>

    <div class="mt-6 flex flex-col sm:flex-row gap-3">
      <Link
        href="https://wa.me/+12895441110"
        target="_blank"
        style="outline"
        class="flex gap-1 items-center justify-center bg-white text-black">
        <img
          src={whatsappImage.src}
          alt="WhatsApp"
          class="w-6 h-6 object-contain"
        />
        Click to Start!
      </Link>
    </div>
  </div>
</main>
